.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: bisque;
  text-align: center;
}

#bookListWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#favorites {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  max-width: 400px;
}

#favoritesList {
  background-color: rgb(204, 215, 210);
  padding: 20px;
  border-radius: 20px;
}

#filtersAndSort {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aFiltering {
  padding: 0 30px;
  margin: 30px;
  background-color: rgb(157, 230, 185);
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 30;
  width: 350px;
}

.aSorting {
  padding: 0 30px;
  margin: 30px;
  background-color: rgb(110, 213, 222);
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 30;
  width: 500px;
}

#filtersSortButtons {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  color: rgb(4, 129, 129);
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 40px;
  color: rgb(4, 129, 129);
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

select {
  font-size: 20px;
  background-color: rgb(243, 232, 216);
  border: rgb(4, 129, 129);
  border: 6px solid transparent;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}
